snippet alink
	a,a:link,a:visited
snippet nc 
	// =========================================================
	///  ${1:attr1}  
	// =========================================================
snippet lc 
	// ========================
	///  ${1:attr1}  
	// ========================
snippet #c 
	## ============================
	#  ${1:attr1}  
	## ============================
snippet divwc
	<!-- BEGIN ${1:attr1} -->
	<div class="${2:attr2}">

	</div>
	<!-- END ${3:attr3} -->
